Automated New Hire Appointment Letters with Docs, HR Approvol.json
{
  "name": "Automated New Hire Appointment Letters with Google Docs, HR Approval & Gmail",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Generate Appointment Letter",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Candidate Name"
            },
            {
              "fieldLabel": "Position Name"
            },
            {
              "fieldLabel": "Fixed CTC"
            },
            {
              "fieldLabel": "Joining Date"
            },
            {
              "fieldLabel": "To be signed by Date"
            },
            {
              "fieldLabel": "Candidate email"
            }
          ]
        },
        "options": {}
      },
      "id": "a780c025-f915-4707-a754-432f57574201",
      "name": "On form submission",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        448,
        432
      ],
      "webhookId": "fa2c91c8-2045-4ca9-8499-65b09a4c42d1",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "content": "Use the form fields to update the Appointment letter template and create a candidate specific appointment letter in PDF format on the Goolge drive",
        "height": 432,
        "width": 224
      },
      "id": "2335a0b2-1feb-41ca-95ec-b1433f0c0c7b",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "mode": "list",
          "value": "1B-AEAw4Uxg313lXW_HsoviNSE3UiRmebq7hICdbQPGo",
          "cachedResultUrl": "https://docs.google.com/document/d/1B-AEAw4Uxg313lXW_HsoviNSE3UiRmebq7hICdbQPGo/edit?usp=drivesdk",
          "cachedResultName": "Appointment Letter"
        },
        "name": "=Appointment Letter - {{ $json['Candidate Name'] }}",
        "options": {
          "copyRequiresWriterPermission": false,
          "description": ""
        }
      },
      "id": "51bfaaee-9198-4c5d-8a8a-0aab475ba5a5",
      "name": "Create a candidate copy of the appointment letter template",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        656,
        432
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "replaceAll",
              "text": "[Candidate Name]",
              "replaceText": "={{ $('On form submission').item.json['Candidate Name'] }}"
            },
            {
              "action": "replaceAll",
              "text": "[Position Name]",
              "replaceText": "={{ $('On form submission').item.json['Position Name'] }}"
            },
            {
              "action": "replaceAll",
              "text": "[Fixed CTC]",
              "replaceText": "={{ $('On form submission').item.json['Fixed CTC'] }}"
            },
            {
              "action": "replaceAll",
              "text": "[Joining Date]",
              "replaceText": "={{ $('On form submission').item.json['Joining Date'] }}"
            },
            {
              "action": "replaceAll",
              "text": "[To be signed by Date]",
              "replaceText": "={{ $('On form submission').item.json['To be signed by Date'] }}"
            },
            {
              "action": "replaceAll",
              "text": "[Date]",
              "replaceText": "={{  $now.toFormat('MM-dd-yyyy') }}"
            }
          ]
        }
      },
      "id": "44743441-aa57-4c5e-a74b-7890b547e1d0",
      "name": "Update the candidate appointment letter with offer details",
      "type": "n8n-nodes-base.googleDocs",
      "position": [
        928,
        432
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.documentId }}"
        },
        "options": {
          "binaryPropertyName": "data",
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          }
        }
      },
      "id": "395f9d2d-9422-4e37-885c-ced8b5eabc27",
      "name": "Download the appointment letter as a PDF",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        1168,
        432
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "name": "={{ $('Create a candidate copy of the appointment letter template').item.json.name }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive",
          "cachedResultName": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "1NFN9rLttv6eF8vo2qWBCSzXgR4A3cjGr",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1NFN9rLttv6eF8vo2qWBCSzXgR4A3cjGr",
          "cachedResultName": "Appointment Letter"
        },
        "options": {}
      },
      "id": "faf3bb5d-7cd7-4223-ac14-c0ad2e1e2d1b",
      "name": "Upload the PDF to Google drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        1392,
        432
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "hr.manager@gmail.com",
        "subject": "=Approval required -  {{ $json.name }}",
        "message": "=Hi HR,\n\nPlease review and approve the appointment letter for {{ $('On form submission').item.json['Candidate Name'] }}\n\nThank You.\n ",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {}
      },
      "id": "412d294d-e441-490c-9341-6343a52dad30",
      "name": "Send message and wait for response",
      "type": "n8n-nodes-base.gmail",
      "position": [
        1632,
        432
      ],
      "webhookId": "f3148fbc-0a41-471e-9c96-025cfcfccfd4",
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "d89063c7-bff6-48be-bd1d-fdce241bde75",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "8e080cbf-ed7d-4812-929b-8091557fd976",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        1856,
        432
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Upload the PDF to Google drive').item.json.id }}"
        },
        "options": {
          "googleFileConversion": {}
        }
      },
      "id": "7641c843-0176-4dc3-a9a9-58cc1dea6d2c",
      "name": "Download file",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        2064,
        416
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json['Candidate email'] }}",
        "subject": "Appointment Letter",
        "message": "=Congratulations  {{ $('On form submission').item.json['Candidate Name'] }}\n\nPlease email before {{ $('On form submission').item.json['To be signed by Date'] }}",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "id": "135e5e92-69d3-4226-a1ca-85c62c2d6833",
      "name": "Send a message",
      "type": "n8n-nodes-base.gmail",
      "position": [
        2240,
        416
      ],
      "webhookId": "a57db54b-1f8f-4824-becd-ad9ad444b91d",
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "content": "Create a candidate specific version of the appointment letter and create a PDF version of it. Store this on the Google Drive",
        "height": 432,
        "width": 928
      },
      "id": "700b3e39-8143-4d7d-9048-d3a56fc71fd6",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        608,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Human-In-The-Loop step - Send an email to the HR manager requesting to review the appointment letter and \"Approve\"or \"Reject\"",
        "height": 432,
        "width": 288
      },
      "id": "6dce69ae-fff6-463a-80f1-e7480a20597b",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1552,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "If the HR manager approves, send an email to the candidate with the appointment letter as a PDF attachment",
        "height": 256,
        "width": 384
      },
      "id": "fec624e5-c0d1-4533-b705-397eb9304a5c",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2032,
        336
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Create a candidate copy of the appointment letter template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload the PDF to Google drive": {
      "main": [
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download the appointment letter as a PDF": {
      "main": [
        [
          {
            "node": "Upload the PDF to Google drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a candidate copy of the appointment letter template": {
      "main": [
        [
          {
            "node": "Update the candidate appointment letter with offer details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update the candidate appointment letter with offer details": {
      "main": [
        [
          {
            "node": "Download the appointment letter as a PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "686585d0-6535-4ccb-bedb-60f47900fa56",
  "meta": {
    "templateId": "5879",
    "instanceId": "6a697cd87458929646c57ce704808240176bf4e93fb06daed39fd27df8a9a3cb"
  },
  "id": "K5cpxWUnAEuvdBSa",
  "tags": []
}
